<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/e0df362f98.js" crossorigin="anonymous"></script>
    <title>Seeds Circle</title>
</head>
<body class="body-dark">
    <!-- ######################################## Header ######################################## -->
    <header>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg back-pale amatic border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img class="w-50 h-50" src="../public/assets/img/logoo-removebg.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto me-4 text-center w-100 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/calendar.html">Évènements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/product_list.html">Liste de produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/add_product.html">Créer une annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/profil.html" >Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="#">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- FIN NAVBAR -->
    </header>
    <!-- ######################################## Fin Header ######################################## -->

    <!-- ######################################## Main ######################################## -->
    <main class="ps-1 pe-1">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <!-- BASTER OR NEED -->
                <form action="#" class="col-12 col-lg-8">
                    <div class="col-12 back-light d-flex flex-column align-items-center rounded-4 mt-4 mb-2">
                        <p class="amatic-bold fs-2">Proposez-vous ou recherchez-vous ce produit ?</p>
                        <div class="montserrat mb-3">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="radio" name="barter_need" id="barter">
                                <label class="form-check-label ms-3 fs-5" for="barter">
                                  Je propose !
                                </label>
                            </div>
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="radio" name="barter_need" id="need" checked>
                                <label class="form-check-label ms-3 fs-5" for="need">
                                  J'ai besoin !
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END BASTER OR NEED -->
    
                    <!-- TITLE -->
                    <div class="col-12 back-light d-flex flex-column align-items-center rounded-4 mt-4 mb-2">
                        <p class="amatic-bold fs-2">Ajoutez un titre à votre annonce</p>
                        <input class="col-10 rounded-4 border-0 text-center pt-2 pb-2" type="text" name="title-offer" id="title-offer" placeholder="Graines de courge">
                        <button type="button" class="btn btn-lg btn-outline amatic-bold fs-3 text-grey back-dark rounded-pill px-5 shadow mt-3 mb-3">VALIDER</button>
                    </div>  
                </form>
                <!-- END TITLE -->

                <!-- PICTURE(S) -->
                <form action="#" class="col-12 col-lg-8">
                    <div class="col-12 back-light d-flex flex-column align-items-center rounded-4 mt-4 mb-2">
                        <p class="amatic-bold fs-2">Vous pouvez ajouter jusqu'à 3 photos</p>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Photo 1</label>
                                <input type="file" class="form-control" id="inputGroupFile01">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile02">Photo 2</label>
                                <input type="file" class="form-control" id="inputGroupFile02">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile03">Photo 3</label>
                                <input type="file" class="form-control" id="inputGroupFile03">
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-outline amatic-bold fs-3 text-grey back-dark rounded-pill px-5 shadow mt-3 mb-3">VALIDER</button>
                    </div>
                </form>
                <!-- END PICTURE(S) -->

                <!-- DESCRIPTION -->
                <form action="#" class="col-12 col-lg-8">
                    <div class="col-12 back-light d-flex flex-column align-items-center rounded-4 mt-4 mb-2">
                        <p class="amatic-bold fs-2">Ajoutez une description à votre annonce</p>
                        <textarea class="col-10 rounded-4 border-0 text-center pt-2 pb-2" name="description-offer" id="description-offer" cols="30" rows="10"></textarea>
                        <button type="button" class="btn btn-lg btn-outline amatic-bold fs-3 text-grey back-dark rounded-pill px-5 shadow mt-3 mb-3">VALIDER</button>
                    </div>
                </form>
                <!-- END DESCRIPTION -->

                <!-- CHARACTERISTICS -->
                <form action="#" class="col-12 col-lg-8">
                    <div class="col-12 back-light d-flex flex-column align-items-center rounded-4 mt-4 mb-2">
                        <p class="amatic-bold fs-2">Caratéristiques de votre produit</p>
                        <div class="col-12 d-flex flex-column flex-lg-row">
                            <div class="col-12 col-lg-6 p-3">
                                <!-- FORM : CATEGORIE -->
                                <div class="col-12 d-flex flex-row mb-4">
                                    <div class="col-6">
                                        <p class="montserrat-bold">Catégorie :</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="category1" checked>
                                            <label class="form-check-label" for="category1">
                                                Intérieure
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="category2">
                                            <label class="form-check-label" for="category2">
                                                Extérieure
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN FORM : CATEGORIE -->
                                
                                <!-- FORM : PET FRIENDLY -->
                                <hr>
                                <div class="col-12 d-flex flex-row mb-4">
                                    <div class="col-6">
                                        <p class="montserrat-bold">Pet Friendly :</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pet-friendly" id="pet-friendly1" checked>
                                            <label class="form-check-label" for="pet-friendly1">
                                                OUI
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pet-friendly" id="pet-friendly2">
                                            <label class="form-check-label" for="pet-friendly2">
                                                NON
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN FORM : PET FRIENDLY -->
        
                                <!-- FORM : ÉTAT -->
                                <hr>
                                <div class="col-12 d-flex flex-row mb-4">
                                    <div class="col-6">
                                        <p class="montserrat-bold">État :</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="condition" id="condition1" checked>
                                            <label class="form-check-label" for="condition1">
                                                Graine
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="condition" id="condition2">
                                            <label class="form-check-label" for="condition2">
                                                Bulbe
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="condition" id="condition3">
                                            <label class="form-check-label" for="condition3">
                                                Semis
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN FORM : ÉTAT -->
        
                                <!-- FORM : FROID -->
                                <hr>
                                <div class="col-12 d-flex flex-row mb-4">
                                    <div class="col-6">
                                        <p class="montserrat-bold">Résistance au froid :</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cold" id="cold1" checked>
                                            <label class="form-check-label" for="cold1">
                                                Rustique (jusque -15°)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cold" id="cold2">
                                            <label class="form-check-label" for="cold2">
                                                Semi-rustique (jusque 0°)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cold" id="cold3">
                                            <label class="form-check-label" for="cold3">
                                                Tendre (jusque 10°)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIN FORM : FROID -->
                            </div>
                            <div class="col-12 col-lg-6 p-3">
                                <!-- FORM : TYPE -->
                                <div class="col-6">
                                    <p class="montserrat-bold">Type de plante :</p>
                                </div>
                                <div class="col-6 m-auto d-flex flex-row mb-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">Herbacée</option>
                                        <option value="2">Arbuste</option>
                                        <option value="3">Arbre</option>
                                        <option value="4">Grimpante</option>
                                        <option value="5">Bulbeuse</option>
                                    </select>
                                </div>
                                <!-- FIN FORM : TYPE -->
                                
                                <!-- FORM : LUMIERE -->
                                <hr>
                                <div class="col-6">
                                    <p class="montserrat-bold">Exposition lumineuse :</p>
                                </div>
                                <div class="col-6 m-auto d-flex flex-row mb-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">Très faible</option>
                                        <option value="2">Faible</option>
                                        <option value="3">Modérée</option>
                                        <option value="4">Forte</option>
                                        <option value="5">Très forte</option>
                                    </select>
                                </div>
                                <!-- FIN FORM : LUMIERE -->
        
                                <!-- FORM : ARROSAGE -->
                                <hr>
                                <div class="col-6">
                                    <p class="montserrat-bold">Arrosage :</p>
                                </div>
                                <div class="col-6 m-auto d-flex flex-row mb-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">Rare</option>
                                        <option value="2">Peu fréquent</option>
                                        <option value="3">Régulier</option>
                                        <option value="4">Fréquent</option>
                                        <option value="5">Très fréquent</option>
                                    </select>
                                </div>
                                <!-- FIN FORM : ARROSAGE -->
        
                                <!-- FORM : SOL -->
                                <hr>
                                <div class="col-6">
                                    <p class="montserrat-bold">Type de sol :</p>
                                </div>
                                <div class="col-6 m-auto d-flex flex-row mb-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">Argileux</option>
                                        <option value="2">Calcaire</option>
                                        <option value="3">Humifère</option>
                                        <option value="4">Limoneux</option>
                                        <option value="5">Sableux</option>
                                    </select>
                                </div>
                                <!-- FIN FORM : SOL -->
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-outline amatic-bold fs-3 text-grey back-dark rounded-pill px-5 shadow mt-3 mb-3">VALIDER</button>
                    </div>
                </form>
                <!-- END CHARACTERISTICS -->
            </div>
        </div>
    </main>
    <!-- ######################################## Fin Main ######################################## -->

    <!-- ######################################## Footer ######################################## -->
    <footer>
        <div class="container-fluid back-pale amatic">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col-4">
                            <a class="nav-link fs-2 text-dark" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-center">
                    <div class="row">
                        <div class="col-12">
                            <a href="#"><img src="../public/assets/img/logoo-removebg.png" alt="Logo" width="70" height="80"></a>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="col-4">
                                <hr class="decorative-line">
                            </div>
                            <div class="col-4">
                                <a class="nav-link fs-2 text-dark" href="../views/form.html">Rejoignez-nous</a>
                            </div>
                            <div class="col-4">
                                <hr class="decorative-line">
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Icônes des réseaux sociaux -->
                            <a href="https://www.facebook.com/LaManuFormation/?locale=fr_FR" class="text-decoration-none text-reset" target="_blank"><i class="fab fa-facebook-f fa-2x me-5"></i></a>
                            <a href="https://www.instagram.com/lamanuformation/?hl=fr" class="text-decoration-none text-reset" target="_blank"><i class="fab fa-instagram fa-2x me-5"></i></a>
                            <a href="https://twitter.com/lamanuformation?lang=fr" class="text-decoration-none text-reset" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
                            <p class="montserrat">Copyright © 2024 - Tous droit réservés / Mentions légales</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col-12 align-items-end d-flex flex-column">
                            <a class="nav-link fs-2 text-dark" href="../index.html">Acceuil</a>
                            <a class="nav-link fs-2 text-dark" href="#">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ######################################## Fin Footer ######################################## -->
    <script src="./../lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
