<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/e0df362f98.js" crossorigin="anonymous"></script>
    <title>Seeds Circle</title>
</head>
<body class="back-dark">
    <!-- ######################################## Header ######################################## -->
    <header>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg back-pale amatic border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img class="w-50 h-50" src="../public/assets/img/logoo-removebg.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto me-4 text-center w-100 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/calendar.html">Évènements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/product_list.html">Liste de produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/add_product.html">Créer une annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="../views/profil.html" >Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 text-dark" href="#">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- FIN NAVBAR -->
    </header>
    <!-- ######################################## Fin Header ######################################## -->

    <!-- ######################################## Main ######################################## -->
    <main>
        <!-- CONTAINER PRINCIPAL -->
        <div class="container-fluid">
            <div class="row">
                <!-- CONTAINER GAUCHE : CALENDRIER ET PROCHAIN EVENT -->
                <div class="col-12 col-lg-7 back-dark p-0 pb-4">
                    <div class="col-12 back-light p-3 pb-4">

                        <!-- DATE ET FLECHES NAVIGATION -->
                        <div class="col-12 d-flex justify-content-center align-items-baseline text-grey">
                            <i class="fa-solid fa-arrow-left fa-xl"></i>
                            <h2 class="ms-3 me-3 amatic">Mars 2024</h2>
                            <i class="fa-solid fa-arrow-right fa-xl"></i>
                        </div>
                        <!-- FIN DATE ET FLECHES NAVIGATION -->
    
                        <!-- CALENDRIER -->
                        <div id="calendar" class="ps-1 ps-lg-3">
                            <!-- CALENDRIER : JOURS -->
                            <div class="row">
                                <div class="cal-12 back-grey text-center rounded-top-5 border border-dark">
                                    <div class="row">
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Lundi</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Mardi</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Mercredi</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Jeudi</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Vendredi</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Samedi</p></div>
                                        <div class="cal-day d-flex align-items-baseline justify-content-center"><p class="d-none d-lg-block">Dimanche</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : JOURS -->
    
                            <!-- CALENDRIER : SEMAINE 1 -->
                            <div class="row">
                                <div class="back-grey text-center">
                                    <div class="row">
                                        <div class="cal-day border-start border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>1</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>2</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>3</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : SEMAINE 1 -->
    
                            <!-- CALENDRIER : SEMAINE 2 -->
                            <div class="row">
                                <div class="back-grey text-center">
                                    <div class="row">
                                        <div class="cal-day border-start border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>4</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>5</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>6</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>7</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>8</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>9</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>10</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : SEMAINE 2 -->
                            
                            <!-- CALENDRIER : SEMAINE 3 -->
                            <div class="row">
                                <div class="back-grey text-center">
                                    <div class="row">
                                        <div class="cal-day border-start border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>11</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>12</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><a href="./event.html"><i class="fa-solid fa-calendar-check fa-2xl text-dark"></i></a></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>14</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>15</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>16</p></div>
                                        <div class="cal-day border-end border-bottom border-dark d-flex align-items-center justify-content-center p-4"><p>17</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : SEMAINE 3 -->
                            
                            <!-- CALENDRIER : SEMAINE 4 -->
                            <div class="row">
                                <div class="back-grey text-center">
                                    <div class="row">
                                        <div class="cal-day border-start border-end border-dark d-flex align-items-center justify-content-center p-4"><p>18</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>19</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>20</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>21</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>22</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>23</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>24</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : SEMAINE 4 -->
                            
                            <!-- CALENDRIER : SEMAINE 5 -->
                            <div class="row">
                                <div class="back-grey text-center rounded-bottom-5 border border-dark">
                                    <div class="row">
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>25</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>26</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>27</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>28</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><p>29</p></div>
                                        <div class="cal-day border-end border-dark d-flex align-items-center justify-content-center p-4"><a href="./event.html"><i class="fa-solid fa-calendar-check fa-2xl text-dark"></i></a></div>
                                        <div class="cal-day d-flex align-items-center justify-content-center p-4"><p>31</p></div>        
                                    </div>
                                </div>
                            </div>
                            <!-- FIN CALENDRIER : SEMAINE 5 -->
                        </div>
                        <!-- FIN CALENDRIER -->
                    </div>

                    <!-- PROCHAIN EVENT -->
                    <div class="row">
                        <div class="col-12 back-dark mt-4 d-block d-lg-flex justify-content-around">
                            <!-- PROCHAIN EVENT : IMAGE -->
                            <div class="col-12 col-lg-6 pb-5 pt-2 d-flex img-next-event m-auto">
                                <img src="./../public/assets/img/meeting-1453895_1920.png" class="img-fluid" alt="">
                            </div>
                            <!-- FIN PROCHAIN EVENT : IMAGE -->

                            <!-- PROCHAIN EVENT : TEXTE -->
                            <div class="col-12 col-lg-6 amatic text-center text-grey pt-3">
                                <!-- PROCHAIN EVENT : TITRE -->
                                <div class="col-12">
                                    <h2>Le 13 Mars 2024 :</h2>
                                    <h1>Présentation du dossier de conception</h1>
                                </div>
                                <!-- FIN PROCHAIN EVENT : TITRE -->

                                <!-- PROCHAIN EVENT : DESCRIPTION -->
                                <div class="col-12 back-light pt-3 pb-3 mb-3 rounded-4">
                                    <div class="col-12  montserrat text-dark">
                                        <p>Ne manquez pas ce rendez-vous de la plus haute importance, ou nos apprentis développeurs défendront becs et ongles leur travail face à de terribles clients.</p>
                                        <p>Vous pourrez les retrouver autour d'un café après la pause de 15h15 à “La Manu Campus Amiens”</p>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn back-pale amatic-bold shadow "><a href="../views/event.html" class="text-decoration-none text-reset">EN SAVOIR PLUS</a></button>
                                    </div>
                                </div>
                                <!-- FIN PROCHAIN EVENT : DESCRIPTION -->
                            </div>
                            <!-- FIN PROCHAIN EVENT : TEXTE -->
                        </div>
                    </div>
                    <!-- FIN PROCHAIN EVENT -->
                </div>
                <!-- FIN CONTAINER GAUCHE : CALENDRIER ET PROCHAIN EVENT -->

                <!-- CONTAINER DROIT : 3 EVENTS SUIVANTS -->                
                <div id="left-div" class="container-fluid d-none d-lg-flex flex-column col-5 align-items-center justify-content-around"> <!--DIV2-->
                    <h2 class="amatic text-grey">Les prochains évènements</h2>
                    <!-- PREMIER EVENT -->
                    <div class="row w-100">
                        <div class="col-12 back-pale container-fluid pb-4 rounded-4">
                            <h2 class="montserrat text-center">Troc Day</h2>
                            <div class="row d-flex align-items-center">
                                <!-- PREMIER EVENT : IMAGE -->
                                <div class="col-5 d-flex  justify-content-center">
                                    <img src="./../public/assets/img/pexels-nic-law-757432.jpg" class="img-fluid border border-2 border-dark img-event" alt="marché">
                                </div>
                                <!-- FIN PREMIER EVENT : IMAGE -->

                                <!-- PREMIER EVENT : TEXTE ET BOUTON -->                                
                                <div class="col-7 text-center">
                                    <p>Retrouvez nos stands de dons et échanges de graines et plantes en tout genre au “Jardin du bout d'la rue” en plein quartier Elbeuf à Amiens.</p>
                                    <p>Ouvert de 8h à 20h, animations pour toute la famille.</p>
                                    <button class="btn back-dark amatic-bold text-grey shadow"><a href="../views/event.html" class="text-decoration-none text-reset">EN SAVOIR PLUS</a></button>
                                </div>
                                <!-- FIN PREMIER EVENT : TEXTE ET BOUTON -->                                
                            </div>    
                        </div>
                    </div>
                    <!-- FIN PREMIER EVENT -->

                    <!-- DEUXIEME EVENT -->                    
                    <div class="row w-100">
                        <div class="col-12 back-pale container-fluid pb-4 rounded-4 mt-3">
                            <h2 class="montserrat text-center">Chasse aux graines</h2>
                            <div class="row d-flex align-items-center">
                                <!-- DEUXIEME EVENT : IMAGE -->
                                <div class="col-5 d-flex  justify-content-center">
                                    <img src="./../public/assets/img/pexels-eren-li-7169568.jpg" class="img-fluid border border-2 border-dark img-event" alt="enfant">
                                </div>
                                <!-- FIN DEUXIEME EVENT : IMAGE -->

                                <!-- DEUXIEME EVENT : TEXTE ET BOUTON -->                                
                                <div class="col-7 text-center">
                                    <p>Nos membres du Tarn organisent samedi 30 avril une chasse aux oeufs dans le parc d'Albi, l'occasion de semer pour la biodiversité avec nos petits.</p>
                                    <p>Atelier cuisine avec produits de nos récoltants.</p>
                                    <button class="btn back-dark amatic-bold text-grey shadow"><a href="../views/event.html" class="text-decoration-none text-reset">EN SAVOIR PLUS</a></button>
                                </div>
                                <!-- FIN DEUXIEME EVENT : TEXTE ET BOUTON -->                                
                            </div>    
                        </div>
                    </div>
                    <!-- FIN DEUXIEME EVENT -->    
                    
                    <!-- TROISIEME EVENT -->                    
                    <div class="row w-100">
                        <div class="col-12 back-pale container-fluid pb-4 rounded-4 mt-3">
                            <h2 class="montserrat text-center">Concert</h2>
                            <div class="row d-flex align-items-center">
                                <!-- TROISIEME EVENT : IMAGE -->
                                <div class="col-5 d-flex  justify-content-center">
                                    <img src="./../public/assets/img/pexels-wendy-wei-1190297.jpg" class="img-fluid border border-2 border-dark img-event" alt="enfant">
                                </div>
                                <!-- FIN TROISIEME EVENT : IMAGE -->

                                <!-- TROISIEME EVENT : TEXTE ET BOUTON -->                                
                                <div class="col-7 text-center">
                                    <p>La Manu Écologie se retrouve en bretagne pour un concert hors norme de Michel Sardou.</p>
                                    <p>Première partie par “Les Ramoneurs de Menhirs”</p>
                                    <button class="btn back-dark amatic-bold text-grey shadow"><a href="../views/event.html" class="text-decoration-none text-reset">EN SAVOIR PLUS</a></button>
                                </div>
                                <!-- FIN TROISIEME EVENT : TEXTE ET BOUTON -->                                
                            </div>    
                        </div>
                    </div>
                    <!-- FIN TROISIEME EVENT -->    
                </div>
            </div>
        </div>
    </main>
    <!-- ######################################## Fin Main ######################################## -->

    <!-- ######################################## Footer ######################################## -->
    <footer>
        <div class="container-fluid back-pale amatic">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col-4">
                            <a class="nav-link fs-2 text-dark" href="#">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-center">
                    <div class="row">
                        <div class="col-12">
                            <a href="#"><img src="../public/assets/img/logoo-removebg.png" alt="Logo" width="70" height="80"></a>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="col-4">
                                <hr class="decorative-line">
                            </div>
                            <div class="col-4">
                                <a class="nav-link fs-2 text-dark" href="../views/form.html">Rejoignez-nous</a>
                            </div>
                            <div class="col-4">
                                <hr class="decorative-line">
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Icônes des réseaux sociaux -->
                            <a href="https://www.facebook.com/LaManuFormation/?locale=fr_FR" class="text-decoration-none text-reset" target="_blank"><i class="fab fa-facebook-f fa-2x me-5"></i></a>
                            <a href="https://www.instagram.com/lamanuformation/?hl=fr" class="text-decoration-none text-reset" target="_blank"><i class="fab fa-instagram fa-2x me-5"></i></a>
                            <a href="https://twitter.com/lamanuformation?lang=fr" class="text-decoration-none text-reset" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
                            <p class="montserrat">Copyright © 2024 - Tous droits réservés / Mentions légales</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col-12 align-items-end d-flex flex-column">
                            <a class="nav-link fs-2 text-dark" href="../index.html">Acceuil</a>
                            <a class="nav-link fs-2 text-dark" href="#">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ######################################## Fin Footer ######################################## -->
    <script src="./../lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
