<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <title>Seeds Circle</title>
</head>
<body class="back-dark">
    
    <!-- ######################################## Header ######################################## -->
    <header>
    </header>
    <!-- ######################################## Fin Header ######################################## -->

    <!-- ######################################## Main ######################################## -->
    <main class="container d-flex justify-content-center">
        <!-- DIV TITLE -->
        <div class="row">
            <h2 class="amatic text-grey text-center col-12">Le 13 Mars 2024 :</h2>
            <h1 class="amatic text-grey text-center col-12">Présentation du dossier de conception</h1>
        </div>
    </main>
    <!-- ######################################## Fin Main ######################################## -->

    <!-- ######################################## Footer ######################################## -->
    <footer>
    </footer>
    <!-- ######################################## Fin Footer ######################################## -->
    
    <script src="lib\bootstrap\bootstrap.bundle.min.js"></script>
</body>
</html>