<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <title>Seeds Circle</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg back-pale amatic-bold border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../public/assets/img/logoo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto me-4 text-center w-100 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link fs-2 darkGreen-text" href="#">Evenements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 darkGreen-text" href="#">Liste de produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 darkGreen-text" href="#">Créer une annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 darkGreen-text" href="#" aria-disabled="true">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2 darkGreen-text" href="#" aria-disabled="true">Se déconnecter</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid back-light m-0">
            <div class="container back-pale m-4">
                <div class="deja-inscrit d-flex justify-content-center">
                    <form action="">
                        <div class="d-flex justify-content-center amatic-bold">
                            <h1>Déjà inscrit ?</h1>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingInput">Addresse mail* : </label><br>
                            <input type="email" class="form-control border-dark" id="floatingInput"
                                placeholder="name@example.com">
                        </div>
                        <div class="form-floating">
                            <label for="floatingPassword">Mot de passe* : </label><br>
                            <input type="password" class="form-control border-dark" id="floatingPassword"
                                placeholder="motdepasse">
                        </div>
                        <p>*champs obligatoire</p>
                        <div class="d-flex justify-content-center">
                            <button type="button"
                                class="btn amatic-bold back-green rounded-pill px-5 m-4">VALIDER</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container back-pale m-4">
                <form class="row g-3">
                    <div class="">
                        <label for="validationServer01" class="form-label">Nom* : </label>
                        <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                        <div class="valid-feedback">
                            C'est bon!
                        </div>
                    </div>
                    <div class="">
                        <label for="validationServer02" class="form-label">Prénom : </label>
                        <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
                        <div class="valid-feedback">
                            C'est bon!
                        </div>
                    </div>
                    <div class="">
                        <label for="validationServerUsername" class="form-label">Adresse mail* : </label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend3">@</span>
                            <input type="text" class="form-control is-invalid" id="validationServerUsername"
                                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Merci de choisir une adresse mail valide.
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label for="floatingPassword">Mot de passe* : </label><br>
                        <input type="password" class="form-control border-dark" id="floatingPassword"
                            placeholder="motdepasse">
                    </div>
                    <div class="">
                        <label for="validationServer05" class="form-label">Téléphone : </label>
                        <input type="text" class="form-control is-invalid" id="validationServer05"
                            aria-describedby="validationServer05Feedback" required>
                        <div id="validationServer05Feedback" class="invalid-feedback">
                            Entrez un numéro de téléphone valide.
                        </div>
                    </div>
                    <div>
                        <label for="formFileLg" class="d-flex justify-content-center">Photo de profil : </label>
                        <input class="form-control form-control-lg" id="formFileLg" type="file">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn amatic-bold back-green rounded-pill px-5 m-4">VALIDER</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="lib\bootstrap\bootstrap.bundle.min.js"></script>
</body>

</html>