<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/e0df362f98.js" crossorigin="anonymous"></script>
    <title>Seeds Circle</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg back-pale amatic border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="./../public/assets/img/logoo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto me-4 text-center w-100 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="#">Evenements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="#">Liste de produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="#">Créer une annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="#" aria-disabled="true">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-2" href="#" aria-disabled="true">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid back-green px-0 col-12">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="back-dark">
                        <h1 class="amatic text-light text-center py-3 pt-5">ROSIER</h1>
                        <div id="carouselExampleIndicators" class="carousel slide p-4">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../public/assets/img/rosier.jpg" class="img-fluid rounded-2"
                                        id="product-picture">
                                </div>
                                <div class="carousel-item">
                                    <img src="..." class="" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="..." class="" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="container montserrat d-flex flex-column pt-3">
                        <div
                            class="product-picture-man d-flex justify-content-center align-items-center montserrat-italic">
                            <img src="../public/assets/img/old-man.jpg" class="rounded-5" id="product-picture-man">
                            <p>Proposé par Jean</p>
                        </div>
                        <br>
                        <div class="d-flex justify-content-around pb-4">
                            <button class="rounded-pill back-dark amatic text-light px-5 py-2">CONTACTER</button>
                            <button class="rounded-pill back-dark amatic text-light px-5 py-2">PROFIL</button>
                        </div>
                    </div>
                    <div class="col-12 px-4 d-flex text-center">
                        <p>Profitez de la beauté éternelle et du parfum envoûtant de ce rosier. Avec ses magnifiques
                            fleurs
                            et
                            sa croissance vigoureuse, il ajoutera une touche d'élégance à votre jardin. Résistant et
                            facile
                            à
                            entretenir, ce rosier est le choix parfait pour apporter de la couleur et de la grâce à
                            votre
                            espace
                            extérieur.</p>
                    </div>
                    <div class="green-line">
                    </div>
                    <div class="col-12">
                        <div class="">
                            <ul class="list-unstyled d-inline-block m-4">
                                <li><span class="fw-bold d-inline-block mb-4">Catégorie :</span> Extérieur</li>
                                <li><span class="fw-bold d-inline-block mb-4">Climat :</span></li>
                                <li><span class="fw-bold d-inline-block mb-4">Type :</span> Herbacée</li>
                                <li><span class="fw-bold d-inline-block mb-4">Exposition lumineuse :</span> <i
                                        class="fa-solid fa-sun"></i> <i class="fa-solid fa-sun"></i> <i
                                        class="fa-solid fa-sun"></i> <i class="fa-solid fa-sun"></i> <i
                                        class="fa-solid fa-sun"></i></li>
                                <li><span class="fw-bold d-inline-block mb-4">Difficulté d'entretien :</span></li>
                                <li><span class="fw-bold d-inline-block mb-4">Pet Friendly :</span> Oui</li>
                                <li><span class="fw-bold d-inline-block mb-4">Etat :</span> Graine</li>
                                <li><span class="fw-bold d-inline-block mb-4">Saison :</span> Eté</li>
                                <li><span class="fw-bold d-inline-block mb-5 ">Arrosage :</span><i
                                        class="fa-solid fa-droplet"></i> <i class="fa-solid fa-droplet"></i> <i
                                        class="fa-solid fa-droplet"></i></li>
                                <li><span class="fw-bold">Type de sol :</span> Argileux</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="lib\bootstrap\bootstrap.bundle.min.js"></script>
</body>

</html>