<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <title>Seeds Circle</title>
</head>
<body class="back-dark">
    <header>
        <!-- <nav class="navbar navbar-expand-lg back-pale amatic border-bottom border-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/seeds_circle/public/assets/img/logoo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto me-4 text-center w-100 justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link fs-2 text-dark" href="#">Evenements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-2 text-dark" href="#">Liste de produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-2 text-dark" href="#">Créer une annonce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-2 text-dark" href="#" aria-disabled="true">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-2 text-dark" href="#" aria-disabled="true">Se déconnecter</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav> -->
    </header>
    <main>
        <!-- Container principal -->
        <div class="container-fluid">
            <div class="row">
                <!-- côté gauche en dekstop -->
                <div class="col-12 col-lg-5">
                    <!-- ROW pour profil -->
                    <div class="row back-light rounded-bottom-4">
                        <!-- IMG PROFIL  -->
                        <div class="col-4 ms-4 my-3 py-2 my-lg-1 ps-lg-4 text-center">
                            <img class="img-thumbnail rounded-circle p-0 border-0" src="./../public/assets/img/personna-Jane-Doe.png" alt="Doe Jane">
                        </div>
                        <!-- NAME PROFIL  -->
                        <div class="col-7 d-flex align-items-center justify-content-sm-around text-center text-light">
                            <div class="back-dark rounded-pill rounded-lg" id="profilName">
                                DOE Jane
                            </div>
                        </div>
                    </div>
                    <!-- FIN ROW  -->
                    <!-- ROW pour ce qu'il y a en dessous de profil : boutons, intérêts, besoins -->
                    <div class="row">
                        <!-- COL pour les boutons -->
                        <div class="col-12 my-4 d-flex justify-content-around amatic-bold">
                            <button class="btn p-2 px-5 back-green rounded-pill">
                                + Produit
                            </button>
                            <button class="btn p-2 px-5 back-green rounded-pill">
                                + Besoin
                            </button>
                        </div>
                        <!-- COL pour les intérêts  -->
                        <div class="col-12 back-light text-center rounded-bottom-4">
                            <h2 class="amatic-bold">Intérêts</h2>
                            <p class="montserrat">
                                Jardinage urbain, design d'intérieur,développement durable
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="text-center text-light">
                                <h2>Besoins</h2>
                            </div>
                        </div>
                        <!-- COL BESOINS -->
                        <div class="col-12 d-flex flex-column justify-content-around">
                            <div class="row">
                                <!-- 1ER BESOIN -->
                                <div class="col-6 text-center mt-2 text-light">
                                    <h3>Graines de tournesol</h3>
                                    <p>
                                        Fleur soleil
                                    </p>
                                </div>
                                <!-- 1ERE IMG -->
                                <div class="col-6">
                                    <div>
                                        <img class="img-fluid my-2 rounded" src="../public/assets/img/sunflower-seeds.jpg" alt="Image Besoin graines tournesol">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- 2EME BESOIN -->
                                <div class="col-6 text-center mt-2 text-light">
                                    <h3>Fraises</h3>
                                    <p>
                                        Fruits qui sont rouges
                                    </p>
                                </div>
                                <!-- 2EME IMG -->
                                <div class="col-6">
                                    <div>
                                        <img class="img-fluid my-2 rounded" src="../public/assets/img/fresh-strawberries-wooden-table.jpg" alt="Image Besoin fraises fraiches sur table en bois">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- 2EME BESOIN -->
                                <div class="col-6 text-center mt-2 text-light">
                                    <h3>Fraises</h3>
                                    <p>
                                        Fruits qui sont rouges
                                    </p>
                                </div>
                                <!-- 2EME IMG -->
                                <div class="col-6">
                                    <div>
                                        <img class="img-fluid my-2 rounded" src="../public/assets/img/fresh-strawberries-wooden-table.jpg" alt="Image Besoin fraises fraiches sur table en bois">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN COL BESOINS -->
                    </div>
                    <!-- FIN ROW -->
                </div>
                <!-- fin côté gauche dekstop -->
                <!-- Séparation -->
                <hr class="white-line my-3 d-lg-none">
                <!-- côté droit dekstop -->
                <div class="col-12 col-lg-7 d-flex flex-column justify-content-around align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center text-light">
                                <h2>Produits</h2>
                            </div>
                        </div>
                        <!-- 1ER PRODUIT -->
                        <div class="col-12 d-flex">
                            <div class="col-5 text-center mt-2 text-light">
                                <h3>Produit</h3>
                                <p>
                                    Graines de tournesol
                                </p>
                            </div>
                            <!-- 1ERE IMG -->
                            <div class="col-5">
                                <div>
                                    <img class="img-fluid my-2 rounded" src="../public/assets/img/sunflower-seeds.jpg" alt="Image Produit graines tournesol">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- 2EME PRODUIT -->
                        <div class="col-12 d-flex">
                            <div class="col-5 text-center mt-2 text-light">
                                <h3>Produit</h3>
                                <p>
                                    Fraises
                                </p>
                            </div>
                            <!-- 2EME IMG -->
                            <div class="col-5">
                                <div>
                                    <img class="img-fluid my-2 rounded" src="../public/assets/img/fresh-strawberries-wooden-table.jpg" alt="Image Produit fraises fraiches sur table en bois">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- 3EME PRODUIT -->
                        <div class="col-12 d-flex">
                            <div class="col-5 text-center mt-2 text-light">
                                <h3>Produit</h3>
                                <p>
                                    Fraises
                                </p>
                            </div>
                            <!-- 3EME IMG -->
                            <div class="col-5">
                                <div>
                                    <img class="img-fluid my-2 rounded" src="../public/assets/img/fresh-strawberries-wooden-table.jpg" alt="Image Produit fraises fraiches sur table en bois">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin côté droit dekstop -->
            </div>
        </div>
        <!-- Fin Container -->

    </main>
    <footer>

    </footer>
    <script src="lib\bootstrap\bootstrap.bundle.min.js"></script>
</body>
</html>