<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/assets/css/style.css">
    <title>Seeds Circle</title>
</head>
<body class="back-dark">
    <header>

    </header>
    <main>
        <div class="container-fluid back-green">
            <div class="row">
                <div class="col-6">
                    <img src="./../public/assets/img/personna-Jane-Doe.png" alt="Doe Jane">
                </div>
                <div class="col-6">
                    <div class="bg-success">
                        DOE Jane
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="lib\bootstrap\bootstrap.bundle.min.js"></script>
</body>
</html>