/* ################################### BACKGROUND COLOR ################################### */
.back-grey{
    background-color: #F2F2F2;
}

.back-pale{
    background-color: #CDD9A0;
}

.back-light{
    background-color: #93A64E;
}

.back-green{
    background-color: #8CA62D;
}

.back-dark{
    background-color: #075942;
}
/* ################################### END BACKGROUND COLOR ################################### */

/* ################################### FONT STYLE ################################### */
.amatic{
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

.amatic-bold{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-italic{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.text-grey{
    color: #F2F2F2;
}

.text-pale{
    color: #CDD9A0;
}

.text-light{
    color: #93A64E;
}

.text-green{
    color: #8CA62D;
}

.text-dark{
    color: #075942;
}

/* ################################### END FONT STYLE ################################### */

/* ################################### EVENT ################################### */
/* CAROUSEL */
.carousel-item {
    height: 400px;
}
@media screen and (max-width: 992px){
    .carousel-item {
        height: 400px;
    }
    #profilName{
        width: 19rem;
        height: 2rem;
    }
}
@media screen and (max-width: 768px){
    .carousel-item {
        height: 300px;
    }
}
@media screen and (max-width: 576px){
    .carousel-item {
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    #profilName{
        width: 12rem;
    }
}

.carousel-indicators {
    position: relative;
    list-style: none;
}

.slide{
    width: 50vw;
}

@media screen and (max-width: 990px){
    .slide{
        width: 90vw;
    }
}
/* END CAROUSEL */

/* BODY */
#body-event{
    background-image: url(./../img/bg-dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* END BODY */

/* ################################### HOME ################################### */

/* BANNIERE */

#banner{
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}




.white-line{
    border: none;
    height: 3px; 
    background-color: white; 
    margin: 20px auto; 
    width: 200px; 
}