.back-grey{
    background-color: #F2F2F2;
}

.back-pale{
    background-color: #CDD9A0;
}

.back-light{
    background-color: #93A64E;
}

.back-green{
    background-color: #8CA62D;
}

.back-dark{
    background-color: #075942;
}

.amatic{
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

.amatic-bold{
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal;
}